%div.critiques
  %h2
    Critiques
  =render "critique_list_header"
  -if @critiques.empty?
    No Critiques
  -else
    =render :partial => "critique", collection:@critiques
  -if @user.critiques.count > 5
    %p=link_to "All Critiques", user_path(@user, critiques:"all")
  -if viewer_is_user?(@user)
    %p=link_to "Find A Submission To Critique",submissions_path
