-if viewer_is_user?(@user) 
  %div.messages
    %h2
      Messages
    -if @messages.empty?
      No Messages
    - else
      =render @messages
    -if Message.undeleted.to_user(@user).count > 5
      =link_to "All Messages", user_path(@user,messages:"all")
    %p
      %span#new_message_link=link_to "New Message"
      =" / "
      %span#sent_messages_link=link_to "Sent Messages"
    =render "messages/new_message"
    =render "messages/sent_messages"
