%div.submissions
  %h2
    Submissions
  =render "submission_list_header"
  -if @submissions.empty?
    No Submissions
  -else
    =render :partial => "submission", collection:@submissions
  -if @user.submissions.count > 5
    %p=link_to "All Submissions", user_path(@user, submissions:"all")
  -if viewer_is_user?(@user)
    %p=link_to "Make A Submission",new_submission_path
