%div.submission#list_header
  %p
    %span.status
      Status
    %span.date
      Date
    %span.title
      Title
    %span.genre
      Genre
    %span.word_count
      Word Count
    %span.critique_count
      Critiques
