= form_for(@user) do |f|
  = render 'shared/errors', :object => @user
  %div
    %p#avatar
      Your Photo:
    = image_tag @user.avatar.url(:medium), class:"avatar" 
    =f.file_field :avatar, class:"avatar"
  %div
    %p=f.label :first, "First Name"
    %p=f.text_field :first
  %div
    %p=f.label :last, "Last Name"
    %p=f.text_field :last
  %div
    %p=f.label :email
    %p=f.email_field :email
  %div
    %p=f.label :bio
    %p=f.text_area :bio
  %div
    %p=image_submit_tag("update_profile_button.png")


