%div.avatar
  =image_tag @user.avatar.url(:medium), class:"avatar"
%div.profile
  %p.name
    #{@user.first} #{@user.last}
  %p.bio
    #{@user.bio}
%div.clear
-if viewer_is_user?(@user)
  %p=link_to "Edit Profile",edit_user_path(@user)
  %br
  %p=link_to "Make A Submission",new_submission_path
  %br
  %p=link_to "Find A Submission To Critique",submissions_path
