%div.avatar
  =image_tag @user.avatar.url(:medium), class:"avatar"
%div.profile
  %p.name
    #{@user.first} #{@user.last}
  =render "stats"
  %p.bio
    #{simple_format(@user.bio)}
%div.clear
-if viewer_is_user?(@user)
  %p=link_to "Edit Profile",edit_user_path(@user)
%div#user_elements
  =render "alerts"
  =render "messages"
  =render "submissions"
  =render "critiques"
