%div
  %div
    =image_tag @user.avatar.url(:medium)
  %div
    %p
      #{@user.first} #{@user.last}
  %div
    #{@user.bio}
-if viewer_is_user?(@user)
  %div
    =link_to "Edit Profile",edit_user_path(@user)
  %div
    =link_to "Make A Submission",new_submission_path
