%div#intro
  %p.lead
    RMRY is for you if...
  %ul
    %li
      You’re a writer
    %li
      You like other writers
    %li
      You enjoy getting thoughtful feedback on your work
    %li
      You love helping others improve
  %p.follow
    Sound like you?
  %div#intro_button
    =link_to image_tag("intro_button.png"),new_user_registration_path 
