%div#intro
  %p.lead
    RMRY is for writers! Whether you are a social writer butterfly, a lone writer wolf or somewhere in between there are writing tools here for you.
  %p.lead
    Share your manuscript and receive critiques from the community. Critique ratings and commenting encourage helpful feedback and discussions.
  %p.lead
    Receive instant manuscript analysis including:
  %ul
    %li
      Lexical Density
    %li
      Gunning Fog Index
    %li
      Flesch Reading Ease
    %li
      Flesch-Kincaid Grade Level
    %li
      Word and Sentence counts
    %li
      Unique and Commonly Used Word Analysis
    %li
      Word Grouping Analysis
    %li
      Sentence Structure Analysis
  %div#intro_button
    =link_to image_tag("intro_button.png"),new_user_registration_path 
