=form_for @submission, :html => {:multipart => true} do |f|
  = render 'shared/errors', object:@submission
  =f.hidden_field :user_id, :value => current_user.id 
  %div
    %p=f.label :title
    %p=f.text_field :title
  %div
    %p.label
      Chapter(s) - optional. 
    %p
      Enter as a list, like this: 1, 2, 3 or this: Fall, Winter, Summer
    %p
      Revise chapters and submit them again - they will be automatically versioned!
    %p=text_field_tag :chapters, @submission.chapter_list
  %div
    %p.label
      Genre
    %p=f.select(:genre,Submission::GENRES,{:include_blank=>true})
  %div
    %p=f.label :content, "Submission"
    -if @submission.new_record?
      %p=file_field_tag :file
    -else
      %p=f.text_area :content, value:content_for_edit(@submission)
  %div
    %p=f.label :notes, "Author Notes"
    %p=f.text_area :notes
  %div  
    %p=image_submit_tag("submit_button.png")

