%div.submission
  %p
    %span=link_to submission.title.truncate(40), submission
    %span=link_to submission.user.full_name.truncate(40), submission.user
    %span=submission.genre
    %span=submission.word_count
    %span=submission.critiques.count
