%div#instructions
  %p
    Submit your manuscript with a text file. You can edit your submission later if anything doesn't look quite right.
  %p
    To encourage quality feedback there's a word count limit of 10,000 words per submission.
  %p
    Submissions are available for critiquing for at least one week, and they remain available after the week is up until they receive a critique.
  %p
    Make as many submissions as you'd like, whenever you'd like! You will have one submission available for critique at a time, and your queued submissions will become available automatically.
=render "form"
