%div#content_header
  %p
    %span.label
      Title: 
    #{@submission.title}
  %p
    %span.label
      Author:
    =link_to @submission.user.full_name,user_path(@submission.user)
  -if has_chapters?(@submission)  
    %p
      %span.label
        Chapters: 
      #{@submission.chapter_list}
  -if has_other_chapters?(@submission)
    %p
      %span.label
        Other Chapters:
      -other_chapters(@submission).each do |c|
        =link_to "#{c.name} ",c.submission
        -unless other_chapters(@submission).last==c
          ,
  -if has_notes?(@submission)
    %p
      %span.label
        Author Notes:
      =simple_format(@submission.notes)
  -if has_critiques?(@submission)
    %p
      %span.label
        Critiques:
      =link_to @submission.critiques.count, submission_critiques_path(@submission)
%div#content.white_box=simple_format(@submission.content)
%div#action
  -if viewer_is_user?(@submission.user)
    =link_to "Edit Submission",edit_submission_path(@submission)
  -else
    =render "critiques/form"
=render "analysis"
