-if viewer_is_user?(@submission.user)
  =link_to "Edit Submission",edit_submission_path(@submission)
%div
  %p
    Title: #{@submission.title}
  %p
    Chapters: #{@submission.chapter_list}
  %p
    Author Notes:
  %p
    =@submission.notes
  %p
    Submission:
  %p
    =@submission.content
