%div.critique
  %p
    %span=date_for_list(critique)
    %span=link_to critique.submission.title_with_chapters, critique
    %span=link_to critique.user.full_name.truncate(40), critique.user
    %span=rating_for(critique)
