%h2
  Rating Guide
%p
  10 - One of the best critiques you've ever seen.  Was thoughtfully written and contained a lot of valuable insight and advice.
%p
  5 - A solid critique.  Seems as if some time and care was put into it.  
%p
  0 - Contained nothing more than a "Good job" or similar.
%p
  ="-1 - This critique was abusive and/or offensive.  This rating will submit a notification to the RMRY administrators and the critique will be investigated."
