%div#content_header
  %p
    %span.label
      Critique For: #{link_to @critique.submission.title, @critique.submission}
  %p
    %span.label
      Critiquer: #{link_to @critique.user.full_name, @critique.user}
%div#content=simple_format(@critique.content)
=render @critique.comments
=render "comments/new"

