%div#content_header
  %p
    %span.label
      Critique For: #{link_to @critique.submission.title, @critique.submission}
  %p
    %span.label
      Critiquer: #{link_to @critique.user.full_name, @critique.user}
  =render "rate"
%div#rating_guide.white_box
  =render "guide"
%div#content.white_box=simple_format(@critique.content)
=render @critique.comments
=render "comments/new"

