@import "common";

div.comment {
  width:80%;
  margin-top:20px;
  font-family:$font-family;
  font-weight:normal;
  border: 5px solid black;
  p.quote {
    margin-bottom:10px; 
  }
  a {
    color:$dark_blue;
  }
}
div#new_comment {
  textarea {
    width:90%;
    padding:15px;
    margin-top:10px;
  }
}
form {
  input[type=image].rating {
     position:relative;
     top:6px;
  }
}
div#rating_guide {
  width:79%;
  margin-top:20px;
  margin-bottom:20px;
  font-family:$font-family;
  font-weight:normal;
  border:5px solid $blue;
  display:none;
    h2 {
      font-size:1.1em;
    }
}
div.critique {
  width:80%;
  p {
    width:100%;
    overflow:hidden;
    span {
      width:25%;
      float:left;
    }
  }
}

