$font_family:"American Typewriter",sans-serif;

* {
  margin:0;
  padding:0;
  font-weight:lighter;
}
body {
  background-color:#666666;
  background-image:url("bg1.png");
  background-repeat:repeat-y;
}
#logo {
  position:absolute;
  width:150px;
  height:115px;
  background-image:url("logo.png");
}
#flash {
  font-family:$font-family;
  position:absolute;
  left:170px;
  top: 55px;
  color:#CCCCCC;
}
#header {
  height: 75px;
  border-bottom: 5px solid white;
}
