@import "common";

.hidden {
  display:none;
}
.shown {
  display:block;
}

div#new_message {
  width:80%;
  font-family:$font-family;
  padding-top:0;
  h2 {
    font-size:1.5em;
  }
  textarea {
    width:90%;
  }
  input[type=text] {
    width:90%;
  }
  input[type=text].to {
    width:25%;
  }
}
div.message {
  width:80%;
  p {
    margin:0;
    width:100%;
    overflow:hidden;
    span {
      float:left;
    }
    span.id, span.hidden_message {
      display:none;
    }
    span.delete {
      width:3%;
    }
    span.date {
      width:17%;
    }
    span.from {
      width:20%;
    }
    span.subject {
      width:60%;
    }
    span.bolder_link {
      a {
        font-weight:400;
      }
    }
  }
}
div.read_message {
  display:none;
  width:80%;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:15px;
  margin-top:10px;
  margin-bottom:10px;
  font-family:$font-family;
  font-weight:normal;
  border: 5px solid black;
  a {
    color: $dark_blue;
  }
  p.reply {
    margin-top:10px;
    padding-right:10px;
    text-align:right;
  }
}
div#sent_messages {
  display:none;
  span.sent_date {
    width:20%;
  }
  span.to {
    width:20%;
  }
}
