@import "common";

div#instructions {
  width:80%;  
}
div#action {
  width:50%;
  margin:0px auto;
  position:relative;
  left:75px;
  top:10px;
}
form {
  input[type=file].critique {
    margin-top:15px;
    margin-bottom:15px;
    margin-left:50px;
  }
  input[type=image].critique {
    margin-left:80px;
  }
  p.label, label {
    font-size:1.5em;
  }
}
div.submission {
  width:80%;
  p {
    width:100%;
    overflow:hidden;
    span {
      float:left;
    }
    span.date,span.genre{
      width:10%;
    }
    span.word_count,span.critique_count {
      width:15%;
    }
    span.title, span.author {
      width:25%;
    }
  }
}
div#analysis {
  width:80%;
  border: 5px solid black;
  margin-top: 20px;
  h2 {
    margin:0;
  }
  p {
    font-weight:normal;
    margin-bottom:5px;
    margin-top:5px;
  }
  div#sentence_chart {
    width:500px;
    height:300px;
    margin:20px 0px 20px 40px;
  }
}
