@import "common";

div#action {
  width:50%;
  margin:0px auto;
  position:relative;
  left:75px;
  top:10px;
}
input[type=file].critique {
  margin-top:15px;
  margin-bottom:15px;
  margin-left:50px;
}
input[type=image].critique {
  margin-left:80px;
}
div.submission {
  width:80%;
  p {
    width:100%;
    overflow:hidden;
    span {
      float:left;
    }
    span.date,span.genre{
      width:10%;
    }
    span.word_count,span.critique_count {
      width:15%;
    }
    span.title, span.author {
      width:25%;
    }
  }
}
