@import "common";

input[type=file].avatar {
  position:relative;
  bottom:10px;
}

img.avatar {
  border: 5px solid black;
}
div.avatar {
  float:left;
  padding-right:15px;
}
div.profile {
  p.name {
    font-size:2.5em;
    margin-bottom:0;
  }
  p.bio {
    padding-top:15px;
  }
  div#stats {
    margin-top:15px;
    p {
      margin-bottom:5px;
      margin-top:0;
    }
    span.label {
      color:$light_grey;
    }
  }
}
div#user_elements {
  h2 {
    font-weight:lighter;
  }
  div.critique, div.submission {
    width:80%;
    p {
      margin:0;
      width:100%;
      overflow:hidden;
      span {
        float:left;
      }
    }
  }
  div.critique {
    span.date {
      width:20%;
    }
    span.critique {
      width:35%;
    }
    span.rating {
      width:45%;
    }
  } 
  div.submission {
    span.title {
      width:35%;
    }
    span.status,span.date{
      width:10%;
    }
    span.genre,span.word_count,span.critique_count {
      width:15%;
    }
  }
}
