input[type=file].avatar {
  position:relative;
  bottom:10px;
}

img.avatar {
  border: 5px solid black;
}
div.avatar {
  float:left;
  padding-right:15px;
}
div.profile {
  p.name {
    font-size:2.5em;
  }
  p.bio {
    padding-top:15px;
  }
}
div#user_elements {
  h2 {
    font-weight:lighter;
  }
  div.submission {
    width:80%;
    p {
      width:100%;
      overflow:hidden;
      span {
        width:20%;
        float:left;
      }
    }
  } 
  div.critique {
    width:80%;
    p {
      width:100%;
      overflow:hidden;
      span {
        width:20%;
        float:left;
      }
    }
  } 
}
