!!!
%html
  %head
    %title ReadMeReadYou        
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application 
    = csrf_meta_tags
  %body
    %div#logo=link_to image_tag("logo.png"), root_path
    %div#flash
      %p.notice
        =notice
        Test notice
      %p.alert=alert
    %div#header
      %div#header_links
        =render "welcome/header_links"
      %div.clear
    %div#yield=yield
