!!!
%html
  %head
    %title ReadMeReadYou        
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application 
    = csrf_meta_tags
  %body
    %div#logo
    %div#flash
      %p.notice
      %p.alert
    %div#header
    /%div#yield= yield
